#navbar{
    display: flex;
    
}

body{
    background-color: rgb(248, 214, 201);
    z-index: -2;
}
#navbar #logo img{
    width: 50px;
    height: 50px;
    padding-left: 100px;
}
 

#logo{
    width: 35%;
    display: flex;
    align-items: center;
    justify-content: center;

}
 #navele{
     width: 65%;
 }

 #navele ul{
     display: flex;
 }

 #navele ul li{
     list-style: none;
 }

 #navele ul li a{
     padding: 10px;
     margin: 8px;
     border-radius: 9px;
     text-decoration: none;
     color: black;
     font-size: 20px;
 }
#navele ul li a:hover{
    background-color: rgb(226, 197, 186);
    color: white;
}

 #home{
     display: flex;
     width: 100%;
     height: 700px;
    flex-direction: column;
    margin: 30px;
    justify-content: center;
    align-items: center;
    letter-spacing: 3px;
    text-decoration: black;
    
    
    
 }

 #home div{
     
     width: 600px;
     height: 500px;
     padding: 10px;
     position: absolute;
     left: 19%;
     display: block;
     
 }
    #home div h1{
        font-size: 2.8rem;
        color: coral;
    }

    #home div button{
        background-color: coral;
        padding: 6px 14px;
        margin: 10px;
        
        border-radius: 10px;
        color: white;
    }
  
    #home::before{
        content: "";
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 750px;
        
        display: block;
        z-index: -1;
    }
#department{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 30px;
}

#d1{
    width: 500px;
    height: 200px;
    margin: auto;

    text-align: center;
}
#d2{
    display: flex;
    justify-content: center;
    align-items: center;
}

#d2 img{
    width: 200px;
    height: 140px;
    margin: auto;
    display: block;
    margin-top: 30px;
}
#d2 p{
    width: 100%;
    margin: auto;
    margin-top: 20px;
    text-align: center;
    display: block;
    padding-top: 40px;
}

#d2 div{
    height: 300px;
    width: 250px;
    border-radius: 7px;
    margin: 15px  5px;
    padding: 8px;
}
#d2r{
    background-color: tomato;
    padding: 5px;
    margin: 5px;

}
#d2g{
    background-color: rgb(61, 133, 61);
    padding: 5px;
    margin: 5px;
}
#d2c{
    background-color: rgb(211, 86, 40);
    padding: 5px;
    margin: 5px;
}

#d3{
    display: flex;
    margin: 50px;
}

.d31 , .d32{
    width: 60%;
    height: 400px;
}

.d31{
    display: flex;
    justify-content: flex-end;
    margin: 10px;
    padding: 8px;

}

.d31 img{
    width: 300px;
    height: 300px;
    margin-top: 30px;
    padding: 6px;
    border-radius: 50%;
    border: 2px solid;
}

.d32{
    margin: 10px;
    padding: 8px;
    display: flex;
    flex-direction: row;
    /* border: 2px solid black; */
    width: 50%;
    
    padding-right: 90px;
    
}

#d32top{
    width: 70%;
}


#d32bottom{
    width: 100%;
    height: 30px;
    align-self: flex-end;
    display: flex;
    justify-content: space-between;
    color: darkgreen;
    text-align: center;
}

#d32bottom h3{
    font-size: 25px;
}

#d32bottom div{
    padding: 18px;
    margin: 12px;
}



#d3 .d31 div{
right: 0px;
}

#atu{
    display: flex;
    width: 70%;
    margin: auto;
    align-items: center;
    justify-content: center;
    height: 650px;
    flex-wrap: wrap;
    margin-bottom: 40px;
    
}
 .heading{
     color: black;
     width: 400px;
     margin: auto;
     display: block;
     text-align: center;
     margin-top: 50px;
     margin-bottom: 50px;
 }

.blogs{
    height: 250px;
    width: 220px;
    border: 1px solid black;
    display: inline-block;
    margin: 15px;
    border-radius: 5px;
    
    display: flex;
    flex-direction: column;
}

.blogs div{
    height: 50%;
}

.blogs div img{
    width: 100%;
    display: block;
}

#atu .blog div a{
    text-decoration: none;
    color: black;
}


#footer{
    display: block;
    height: 400px;
    background-color: black;
    opacity: 0.4;
    align-items: center;
    justify-content: center;
    display: flex;
    z-index: -1;
}

#f1{
    width: 70%;
    height: 380px;
    display: flex;
   
}

#f1 div{
    width: 25%;
    color: white;
    
    margin: 7px;
    padding: 10px;

}